.container {
  width: 200px;
  margin: 0 auto;
}
.satu {
  border: solid;
  width: 200px;
  height:200px;
  background-color: green;
  margin-top: 30px;
  border-image-source: url("hearts.png");
  border-image-repeat: round;
  border-image-width: 20px;
  border-image-slice: 20 22;
  border-image-outset: 20px;
  box-shadow: 20px 20px;
}
.dua {
  border: 9px solid pink;
  height: 200px;
  width: 200px;
  border-image: url("border1.png") 30;
  background-color: rgb(19, 16, 184); 
  margin: 1em auto;
  border-image-repeat: round;
  border-image-width: 20px;
  border-image-outset: 10px;
  box-shadow: 15x 15px 15px;
}
